:root {
    --main-green: #39B54A;
    --main-grey: #EBEBEB;
}

.mb-auto, .my-auto {
    margin-bottom: auto!important;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}

.carousel-caption{
    top: 7rem;
    text-align: left;
}

.dfs-title,
.MuiTypography-body1.dfs-title{
    font-size: 2rem;
}

.bg-grey {
    background-color: var(--main-grey);
}

.MuiButton-text.btn-deal,
.MuiButton-text.btn-deal:hover {
    background-color: var(--main-green);
    color: #FFF
}


.title-2{
    color: #FFF;
    font-size: 1.5rem
}

.text-right{
    text-align: right;
}

.h-100p{
    height: 100px;

}

.btn-header-alto{
    color: #000;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    border-radius: 0px;
}

.btn-header-alto:hover,
.btn-header-alto:focus {
    background-color: #0C64A1;
    border-color: #0C64A1;
    box-shadow: none;
}